In [15]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import sklearn.linear_model as lm
import pickle
from sklearn.externals import joblib

In [16]:
df=pd.read_csv("insurance.csv")
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [17]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [18]:
value=np.random.rand(len(df))<.8
train=df[value]
test=df[~value]

In [19]:
print(train)

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
5      31  female  25.740         0     no  southeast   3756.62160
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1055 rows x 7 columns]

In [20]:
print(test)

      age     sex     bmi  children smoker     region      charges
4      32    male  28.880         0     no  northwest   3866.85520
7      37  female  27.740         3     no  northwest   7281.50560
8      37    male  29.830         2     no  northeast   6406.41070
9      60  female  25.840         0     no  northwest  28923.13692
14     27    male  42.130         0    yes  southeast  39611.75770
...   ...     ...     ...       ...    ...        ...          ...
1304   42    male  24.605         2    yes  northeast  21259.37795
1312   34    male  42.900         1     no  southwest   4536.25900
1319   39  female  26.315         2     no  northwest   7201.70085
1323   42  female  40.370         2    yes  southeast  43896.37630
1330   57  female  25.740         2     no  southeast  12629.16560

[283 rows x 7 columns]

In [21]:
regr=lm.LinearRegression()
train_x=np.asanyarray(train[["age","bmi"]])
train_y=np.asanyarray(train[["charges"]])
regr.fit(train_x,train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [22]:
print(regr.coef_)

[[235.40848428 307.76921805]]

In [23]:
print(regr.intercept_)

[-5481.9013326]

In [24]:
#Saving the model

joblib.dump(regr,"model.pkl")

['model.pkl']

In [25]:
test_x=np.asanyarray(test[["age","bmi"]])
test_y=np.asanyarray(test[["charges"]])
prediction=regr.predict(test_x)
print(prediction)

[[10939.54518149]
 [11765.73069431]
 [12408.96836003]
 [16595.36431841]
 [13840.44489923]
 [11552.07586046]
 [17552.70142418]
 [20922.59952415]
 [13589.29827876]
 [ 8505.58021213]
 [ 7885.39027024]
 [20911.79263399]
 [ 8489.84207595]
 [ 8491.41588957]
 [18507.03077282]
 [12157.85670709]
 [13884.40705281]
 [17587.95501414]
 [13840.969687  ]
 [ 9403.56697827]
 [20148.45503818]
 [10455.19330588]
 [14415.20405135]
 [16294.30996517]
 [ 8143.88144587]
 [16020.29045853]
 [14143.21293619]
 [15661.24977411]
 [18043.66326202]
 [ 7445.17538585]
 [ 9422.17300146]
 [10638.14115297]
 [ 7731.50566122]
 [13333.43021745]
 [14853.74021954]
 [10096.74706944]
 [ 6692.50481008]
 [22112.02264932]
 [16217.01798538]
 [11090.42203339]
 [ 8325.29044688]
 [ 9351.94556176]
 [21688.80500697]
 [ 8873.32946017]
 [11978.44113004]
 [12210.14250663]
 [16623.7628986 ]
 [ 8939.32500441]
 [15588.08451234]
 [11988.68853975]
 [15544.96185428]
 [ 6982.1225828 ]
 [11204.50644924]
 [19259.00199802]
 [15820.55517455]
 [15927.5750503 ]
 [18377.38305843]
 [ 7794.63331845]
 [16814.2301385 ]
 [14738.32676278]
 [10088.63322865]
 [19722.33454129]
 [14884.44720629]
 [12399.94508865]
 [11471.8460586 ]
 [17089.71855618]
 [20537.99290418]
 [ 9716.26744234]
 [18054.47015218]
 [15634.17995999]
 [17121.64968127]
 [11527.31445291]
 [15070.47274557]
 [12144.35676756]
 [14729.3034914 ]
 [ 8111.63561303]
 [11359.40539143]
 [12524.83639466]
 [18852.71166267]
 [16909.46375846]
 [20190.17872025]
 [15701.67938279]
 [11457.64676851]
 [15227.92459217]
 [ 9008.67798106]
 [12593.35015063]
 [11854.94880001]
 [18029.56887451]
 [10616.42247007]
 [12596.84745315]
 [15916.87306273]
 [15595.25422987]
 [19917.76799475]
 [19888.63482162]
 [14090.82223407]
 [17326.70085408]
 [10314.84360391]
 [ 8594.48361009]
 [ 8162.38256648]
 [15844.86200424]
 [ 7823.83642663]
 [16589.7684145 ]
 [22235.20027159]
 [ 7822.26261301]
 [13667.25491644]
 [12367.38454806]
 [ 9345.65030729]
 [16769.35882919]
 [17583.44337845]
 [ 8347.04409731]
 [12408.89842497]
 [14709.08868706]
 [12428.79852156]
 [14464.37719119]
 [ 6591.25567588]
 [20902.69942756]
 [14366.3805868 ]
 [14641.5193292 ]
 [16527.86489561]
 [18828.12509276]
 [13253.86479862]
 [ 9925.90018589]
 [20067.35077326]
 [ 7625.11547582]
 [16243.00353127]
 [17097.09807888]
 [13478.2915551 ]
 [10807.69396313]
 [21602.62962592]
 [13214.02963792]
 [ 8369.60227574]
 [ 9382.65254851]
 [16501.63457702]
 [ 9181.09867822]
 [12608.59874142]
 [11881.1791186 ]
 [16863.68301856]
 [18060.48566642]
 [19316.00923842]
 [11768.73845143]
 [ 7526.87409874]
 [19182.40936879]
 [14545.90106644]
 [13688.13410382]
 [16869.69853281]
 [ 9114.96326387]
 [14021.57416001]
 [14563.2829513 ]
 [15122.93338275]
 [16723.54312176]
 [15172.59606798]
 [18080.4906656 ]
 [10650.17218147]
 [12412.18592232]
 [ 9588.92785966]
 [14621.37445992]
 [12912.03116142]
 [13581.00960033]
 [ 9845.60044898]
 [10008.57826443]
 [10611.91083438]
 [11353.31994212]
 [10716.16772571]
 [10765.97028105]
 [ 8885.36048867]
 [21802.67961765]
 [ 9457.42659143]
 [17362.23418427]
 [11417.07701486]
 [20016.219177  ]
 [16563.7828686 ]
 [ 6831.17579585]
 [13523.0229943 ]
 [ 8626.72944292]
 [ 9917.71641005]
 [ 8091.45577622]
 [16682.23905002]
 [14826.18086003]
 [13622.76824994]
 [15483.30310809]
 [13642.98305428]
 [10945.56069574]
 [16413.92034987]
 [ 9033.2995185 ]
 [16009.09892556]
 [17110.98266122]
 [17049.63862278]
 [17878.02736472]
 [13136.73765812]
 [10232.16552538]
 [ 7882.10277289]
 [11600.82938996]
 [ 8586.96421728]
 [17926.78089421]
 [16853.99536415]
 [14627.38997417]
 [22419.86180242]
 [17394.41008205]
 [19445.30727752]
 [21598.04805518]
 [ 9622.29292825]
 [ 8410.03188443]
 [16623.09851556]
 [ 9859.24025862]
 [19331.36273179]
 [13287.3347698 ]
 [ 6812.84951288]
 [13753.91984289]
 [10322.53783436]
 [20182.30965216]
 [14955.3040615 ]
 [11455.51319959]
 [11539.90496185]
 [ 8391.32095865]
 [10862.35810428]
 [11267.1795286 ]
 [ 8108.34811568]
 [19135.96424586]
 [16243.00353127]
 [11164.42651583]
 [10110.49178166]
 [18299.04177794]
 [14496.90276425]
 [18312.89139275]
 [ 7332.73471868]
 [10019.59495976]
 [12191.81622366]
 [17294.42005371]
 [16826.92555003]
 [16118.5318356 ]
 [ 5458.66495347]
 [16720.46542958]
 [16646.32107703]
 [16660.34552948]
 [10090.45181496]
 [10864.38649577]
 [12399.73528348]
 [13292.12614571]
 [13289.32819375]
 [11045.48078902]
 [12570.3024268 ]
 [ 7480.42897581]
 [14203.12303113]
 [14410.4826105 ]
 [14900.18534248]
 [19399.21182987]
 [14413.70017279]
 [ 9805.27574288]
 [15488.30428917]
 [20361.0256038 ]
 [12884.64663955]
 [11227.41430295]
 [10990.36207   ]
 [12362.52323709]
 [18141.97457415]
 [17074.36506281]
 [ 8511.28101863]
 [10713.15996859]
 [19117.56802783]
 [19825.43722934]
 [ 5363.25649587]
 [15995.70388861]
 [14541.9489112 ]
 [15342.81353601]
 [ 9013.39942191]
 [11334.99365915]
 [ 7628.36800564]
 [ 8366.59451862]
 [12802.77308901]
 [16852.52645312]
 [12494.93393591]
 [16075.65395025]
 [14090.57746137]
 [ 6430.86600722]
 [11352.37554401]
 [ 9732.00557852]
 [15919.88081985]
 [10736.38253005]
 [11977.91661712]
 [15725.28658707]
 [11797.97652715]
 [16829.89833963]
 [15858.36194377]]

In [26]:
predict_df=pd.read_csv("check.csv")
predict_df.head()

   age  bmi  charges
0   19   33        0

In [27]:
predict_x=np.asanyarray(predict_df[["age","bmi"]])
prediction=regr.predict(predict_x)
print(prediction)

[[9147.24406423]]